.main {
  margin: 0 auto;
  width: 85%;
}

.dashboard-header {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  width: 100%;
  background-color: black;
  color: white;
  margin: 2em auto;
  padding: 1.5em;
  border-radius: 30px;
}

.dashboard-header-text {
  padding: 0.5em;
}

.dashboard-header .btn {
  font-size: 20px;
  color: black;
  background-color: white;
  transition-duration: 0.3s;
}

.dashboard-header .btn:hover {
  background-color: #08b2e3;
  color: white;
  border: 1px solid black;
}

@media only screen and (max-width: 850px) {
  .main {
    width: 100%;
    margin: 0 auto;
    padding: 1em;
  }
}
