.tables-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 1em;
  margin: 1.5em auto;
}

.table {
  margin-bottom: 1em;
  font-size: 1.125rem;
}

.tables-header {
  text-align: center;
  background-color: black;
  color: white;
  border-radius: 20px;
  padding: 1em 0em;
  margin-bottom: 0.75em;
}

.tables-header h3 {
  font-family: 'Times New Roman', Times, serif;
  font-size: 2.5rem;
  margin: 0em;
}

.finish-button {
  color: white;
  background-color: black;
  border-radius: 10px;
  margin: 0.5em;
  padding: 0.5em 1.5em;
  font-size: 1rem;
}

.finish-button:hover {
  background-color: #1597e2;
  color: black;
  border: 1px solid black;
  transition-duration: 0.4s;
}

.no-buttons {
  height: 42px;
}

@media only screen and (max-width: 850px) {
  .tables-list {
    display: flex;
    flex-direction: column;
    gap: 0em;
  }
}

@media only screen and (max-width: 400px) {
  .finish-button {
    font-size: 0.875rem;
    padding: 0.25em 1em;
  }

  .tables-header h3 {
    font-size: 1.5rem;
  }
}
